{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "max-nesting-depth": 3,
    "selector-max-compound-selectors": 4,
    "selector-no-qualifying-type": [ true, {
      "ignore": [ "attribute", "class", "id" ]
    } ],
    "order/properties-alphabetical-order": null,
  }
}
