@import "mixin";

.alert-zone {
  height: auto;
  width: 100%;
  flex: 1;
  // Don't move the page content when showing alerts.
  position: fixed;
  // Show alerts above all page content.
  z-index: 1;
  cursor: pointer;
  @include no-select;
}

.alert-error {
  animation: alert-show 0.4s 1;
  background: #FF2121;
  height: 60px;
  width: 100%;
  border-bottom: 2px solid #EE1111;
  &:hover {
    background: #FF3535;
  }
}

.alert-success {
  animation: alert-show 0.4s 1;
  background: #21BB21;
  height: 60px;
  width: 100%;
  border-bottom: 2px solid #11AA11;
  &:hover {
    background: #35BB35;
  }
}

.alert-text {
  color: white;
  margin-left: 50px;
  width: 100%;
  font-size: 20px;
  line-height: 60px;
}

@keyframes alert-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
