.radioButton {
  height: 25px;
  width: 25px;
  margin-right: 25px;
  background-color: #eee;
  &:hover input ~ .checkmark {
      background-color: #ccc;
  }
  float:left;
}

.radioButtonContainer {
  background: #CCC;
  display: block;
  position: relative;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
}
