
.navbar {
  margin: 0;
  min-height: 50px;
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
background: #24292e;
color: rgba(255,255,255,0.75);
  @include clearfix;
}

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: 15px;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: #777;
      }
    }
  }
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.navbar-nav {
  align-items: center;
  float: right !important;
  margin-right: 0;
}

.navbar-nav {
  @media (min-width: $mobile-threshold) {
    float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top:    $navbar-padding-vertical;
        padding-bottom: $navbar-padding-vertical;
      }
    }
  }
}

.navbar-header {
  @include clearfix;
  margin: 10px 0;
  float: left;
}
