// Some of this you may recognize from bootstrap.
// The prototype was made with bootstrap, and was later removed.
// The naming conventions and definitions of classes may be similar.
// Removing bootstrap, takes ~150kb off of the final webpack bundle.

@import "./clearfix.scss";
@import "./form.scss";
@import "./gridsystem.scss";
@import "./header.scss";
@import "./sidebar.scss";
@import "./table.scss";
@import "./tradingcard.scss";
@import "variables";

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  min-height: 100vh;
  margin: 0;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0; // hiding the dots is not good enough for some browsers.
}

pre {
  background: #E8E8E8;
  overflow-x: auto;
  white-space: nowrap;
  min-width: 0;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.flex-vertical-container {
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-horizontal-container {
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebar-placeholder {
  transition: all 0.3s;
  width: $sidebar-width;
  flex-shrink: 0;
  @media (max-width: $mobile-threshold)
  {
    width: $sidebar-collapse-size;
  }
}

/* ---------------------------------------------------
    PAGE-AREA STYLE
----------------------------------------------------- */
// Center all the content that is below the header.
.page-area {
  padding: 0 10%;
  min-width: 0; // Flexbox does weird things with this value. Don't let it.
  width: 100%;
}

a[aria-expanded]::before {
  display: block;
  position: absolute;
  right: 20px;
  // font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
// a[aria-expanded="false"]::before {
//   content: '\e259'; // Down arrow.
// }
// a[aria-expanded="true"]::before {
//   content: '\e260'; // Up arrow.
// }

// Indent the dropdown menu.
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #0e1b4d;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: $mobile-threshold) { // The sidebar can collapse on mobile
  #sidebar[aria-expanded="false"] {
      margin-left: $sidebar-collapse-size - $sidebar-width;
  }
  .Header-logo-img {
    display:none;
  }
}
@media (min-width: $mobile-threshold + 1px) {
  .toggle-wrap {
    display:none;
  }
  .sidebar-components {
    border-bottom: 1px solid #47748b;
  }
}

////// TOGGLE bar
$toggle-height: 4px;
$toggle-width: 30px;
$toggle-center-dist: ($sidebar-collapse-size/2 - $toggle-width/2);
.toggle-wrap {
  position: absolute;
  cursor: pointer;
  top: $toggle-center-dist;
  right: $toggle-center-dist;

  /*disable selection*/
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.toggle-bar {
	width: $toggle-width;
	margin: 10px 0;
	position: relative;
	border-top: $toggle-height solid #CCC;
	display: block;
}
.toggle-bar::before,
.toggle-bar::after {
	content: "";
	display: block;
	background: #CCC;
	height: $toggle-height;
	width: $toggle-width;
	position: absolute;
	top: -12px;
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-ms-transform-origin: 13%;
	-webkit-transform-origin: 13%;
	transform-origin: 13%;
}
.toggle-bar::after {
  top: $toggle-height;
}
.toggle-wrap[data-expanded="true"] .toggle-bar {
  border-top: $toggle-height solid transparent;
}
.toggle-wrap[data-expanded="true"] .toggle-bar::before {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.toggle-wrap[data-expanded="true"] .toggle-bar::after {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
