@import 'mixin';

.alert-zone {
  height: auto;
  width: 100%;
  flex: 1;
  // Don't move the page content when showing alerts.
  position: fixed;
  cursor: pointer;
  user-select: none;
  // Show alerts above all page content.
  z-index: 1;
}

.alert-error {
  animation: alert-show 0.4s 1;
  background: #ff2121;
  height: 60px;
  width: 100%;
  border-bottom: 2px solid #e11;

  &:hover {
    background: #ff3535;
  }
}

.alert-success {
  animation: alert-show 0.4s 1;
  background: #21bb21;
  height: 60px;
  width: 100%;
  border-bottom: 2px solid #1a1;

  &:hover {
    background: #35bb35;
  }
}

.alert-text {
  color: #fff;
  margin-left: 50px;
  width: 100%;
  font-size: 20px;
  line-height: 60px;
}

@keyframes alert-show {
  0% { opacity: 0; }

  100% { opacity: 1; }
}
