@import 'variables';

@mixin button-size($padding-vertical, $padding-horizontal, $font-size,
$line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
  outline: none;
}

.btn {
  @include button-size($padding-base-vertical,
  $padding-base-horizontal,
  $font-size-base,
  $line-height-base,
  $btn-border-radius-base);
  margin-bottom: 0; // For input.btn
  flex: 1;
  text-align: center;
  vertical-align: middle;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  background-color: buttonface;
  touch-action: manipulation;
  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}

.radio-button {
  height: 25px;
  width: 25px;
  margin-right: 25px;
  background-color: #eee;
  float: left;

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
}

.radio-button-container {
  background: #ccc;
  display: block;
  position: relative;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 10px;
  font-size: 22px;
  cursor: pointer;
}


////// TOGGLE bar
$toggle-height: 4px;
$toggle-width: 30px;
$toggle-center-dist: ($toggle-width/2);

.toggle-wrap {
  position: absolute;
  cursor: pointer;
  top: $toggle-center-dist;
  right: $toggle-center-dist;

  /*disable selection*/
  -webkit-touch-callout: none;
  user-select: none;
}

.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
  transition: all 0.2s ease-in-out;
}

.toggle-bar {
  width: $toggle-width;
  margin: 10px 0;
  position: relative;
  border-top: $toggle-height solid #ccc;
  display: block;
}

.toggle-bar::before,
.toggle-bar::after {
  content: '';
  display: block;
  background: #ccc;
  height: $toggle-height;
  width: $toggle-width;
  position: absolute;
  top: -12px;
  transform: rotate(0deg);
  transform-origin: 13%;
}

.toggle-bar::after {
  top: $toggle-height;
}

.toggle-wrap[data-expanded='true'] .toggle-bar {
  border-top: $toggle-height solid transparent;
}

.toggle-wrap[data-expanded='true'] .toggle-bar::before {
  transform: rotate(45deg);
}

.toggle-wrap[data-expanded='true'] .toggle-bar::after {
  transform: rotate(-45deg);
}
