.grid-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.grid-one-quarter {
  width: 25%;
  padding: 0;
  float: left;
}

.grid-three-quarter {
  width: 75%;
  padding: 0;
  float: left;
}
