@import 'variables';

.navbar {
  margin: 0;
  top: 0;
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;
  z-index: 1; // The navbar always needs to be above all other content.
  border-style: none;
  border-radius: 0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  background: #24292e;
  color: rgba(255, 255, 255, 0.75);
}

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  height: 100%;
  user-select: none;

  > li {
    position: relative;
    height: 100%;

    > a {
      position: relative;
      display: block;
      height: 100%;
      padding: 0 15px;
      //font-size: 14px;

      &:hover,
      &:focus,
      &[aria-current='true'] {
        text-decoration: none;
        background-color: #777;
      }
    }

    > a[aria-current='true'] {
      box-sizing: border-box;
      border-bottom: 5px solid $accent-color;
    }
  }
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border-style: none;
}

.navbar-nav {
  align-items: center;
  float: right !important;
  margin-right: 0;
}

.navbar-nav {
  @media (min-width: $mobile-threshold) {
    float: left;
    margin: 0;

    > li {
      float: left;
    }
  }
}

.navbar-header {
  font-size: 32px;
  margin-left: 20px;
  float: left;
}
