@import "variables";

.navbar {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;
  z-index: 1; // The navbar always needs to be above all other content.
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background: #24292e;
  color: rgba(255,255,255,0.75);
  @include clearfix;
}

/*
** Because the navbar is a fixed position, it is out of the page flow.
** after-navbar offsets the things content below the navbar to
** prevent overlap.
*/
.after-navbar {
  position: absolute;
  top: $navbar-height;
  width: 100%;
}

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: 0 15px;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: #777;
      }
    }
  }
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.navbar-nav {
  align-items: center;
  float: right !important;
  margin-right: 0;
}

.navbar-nav {
  @media (min-width: $mobile-threshold) {
    float: left;
    margin: 0;

    > li {
      float: left;
    }
  }
}

.navbar-header {
  @include clearfix;
  font-size: 32px;
  margin-left: 20px;
  float: left;
}
