@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin shake() {
  animation: mymove 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}// Not supported by IE 9 and earlier

@include keyframes(mymove) {
  from {
    transform: translate(2px, 0);
  }

  to {
    transform: translate(20px, 0);
  }
}

@include keyframes(mymove) {
  0% { // Start at the current location.
    transform: translate(0, 0);
  }

  25% {
    transform: translate(7px, 0);
  }

  50% { // If any non-linear interpolation is used, the 50% position is needed to smooth the animation when looping.
    transform: translate(0, 0);
  }

  75% {
    transform: translate(-7px, 0);
  }

  100% {
    // End at the initial location.
    transform: translate(0, 0);
  }
}
