.modal-background {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-hidden {
  display: none;
}

.modal-content {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 3px solid #888;
  width: 50%;
}

.modal-exit {
  color: #aaa;
  float: right;
  font-size: 28px;
  user-select: none;
  font-weight: bold;

  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
