$sidebar-width: 250px;
$sidebar-collapse-size: 0;//50px;
$max-content-width: 992px;
$max-mobile-width: 600px;
$navbar-padding-vertical: 20px;
$navbar-height: 80px;
$nav-background: #24292e;
$filterbar-height: 30px;

/*
** Form Variables
*/
$padding-base-vertical: 6px !default;
$padding-base-horizontal: 12px !default;
$line-height-base: 1.428571429 !default; // 20/14
$font-size-base: 14px !default;
$btn-border-radius-base: 15px;
$input-color: #ccc;
$accent-color: #f90;
